body {
    background-image: url('img/deadspace.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header {
    display: inline-block;
    width: 800px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: calc((100% - 800px) / 2);
    background-color: blue;}
    header>img {
        height: 100px;
        float: left;}
    header>nav {
        float: bottom;
        margin-top: 4.0px;
        padding: 0.3em;
        padding-left: 0.7em;
        padding-right: 0.7em;
        margin-left: 0.5em;}
    
        nav>a {
        display: inline-block;
       
      
        font-family: monospace;
        font-size: 30px;
        line-height: 1em;
        text-decoration: none;
        color: red;
        border: 0.1em solid transparent;
        border-radius: 0.2em;
            }
            nav>a:first-child {
                margin-left: 0;
            }
    
            nav>a:hover {
                border-color: #3F4371;
            }
    
            main {
                display: inline-block;
                width: 800px;
                margin-top: 40px;
                margin-left: calc((100% - 800px) / 2);
            }
    
            main>div {
                width: 35%;
                float: left;
                color:red;
            }
    
            main>img {
                width: 60%;
                float: right;
            }
            h1{color:red}

        
    
    



